<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div style="width:100%;padding:40px 0;background-color:#eae7de;margin:0 auto">
    <table class="m_-959506477112838652stb-container" cellpadding="0" cellspacing="0" align="center"
           style="margin:0px auto;width:94%;max-width:630px;background:rgb(234,231,222);border:0px">
        <tbody>
        <tr style="margin:0;padding:0">
            <td style="width:100%;max-width:630px;margin:0 auto;border-spacing:0;clear:both;border-collapse:separate;padding:0;overflow:hidden">
                <div style="height:0px;max-height:0px;border-width:0px;border-color:initial;line-height:0px;font-size:0px;overflow:hidden;display:none">
                    🦔 괜찮슴! 나도 맨날 까먹슴!
                </div>
                <table border="0" cellpadding="0" cellspacing="0"
                       style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:none;border:0"
                       width="100%;">
                    <tbody>
                    <tr>
                        <td style="padding:15px 0 15px 0;line-height:10px;border-width:0px">
                            <table class="m_-959506477112838652stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="table-layout:fixed;padding:0px 5px" width="100%">
                                <tbody>
                                <tr>
                                    <td style="padding:0px 15px;line-height:10px" width="100%">
                                        <div>
                                            <p style="text-align:justify;margin-bottom:40px;width:100%;display:flex;justify-content: center">
                                                <img
                                                        src="https://newneek.co/static/media/logo.90f7555f.png"
                                                        style="width:80%;display:inline;vertical-align:bottom;max-width:100%;border-width:0px;border-color:initial;text-align:justify"
                                                        width="590" class="CToWUd a6T" data-bit="iit" tabindex="0"
                                                        alt="뉴닉대문">
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0"
                       style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:#eae7de;border:0"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding:15px 0 15px 0;line-height:1.8;border-width:0px;font-size:14px">
                            <table class="m_-959506477112838652stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding:0px 5px" width="100%">
                                <tbody>
                                <tr>
                                    <td class="m_-959506477112838652stb-text-box"
                                        style="padding:0px 15px;line-height:1.8;word-break:break-word;font-size:14px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif!important;color:#333333"
                                        width="100%">
                                        <div bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <div align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                                                <div style="text-align:left;font-size:16px"><b
                                                        style="font-size:12px"><span style="font-size:16px">🦔 고슴이: 나도 맨날 까먹슴!</span></b><br>
                                                </div>
                                                <div style="font-size:16px">
                                                    <div border="0" cellpadding="0" cellspacing="0" width="100%"
                                                         style="font-size:16px">
                                                        <div style="text-align:left;font-size:14px"><b
                                                                style="font-size:12px"><span style="font-size:16px"><br></span></b>
                                                        </div>
                                                        <div style="text-align:left;font-size:14px">까먹고 까먹어도, 또 까먹는 건? 귤
                                                            🍊,
                                                        </div>
                                                        <div style="text-align:left;font-size:14px">아니면 비밀번호🔐 잖아요.&nbsp;
                                                        </div>
                                                        <div style="text-align:left;font-size:14px">아래 버튼을 누르면, 비밀번호를 바꿀
                                                            수 있어요.<br></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0"
                       style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:#eae7de;border:0"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding:20px 0 20px 0;line-height:1.8;border-width:0px;font-size:14px">
                            <table class="m_-959506477112838652stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding:0px 5px" width="100%">
                                <tbody>
                                <tr>
                                    <td class="m_-959506477112838652stb-text-box"
                                        style="padding:0px 15px;line-height:1.8;word-break:break-word;font-size:14px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif!important;color:#333333"
                                        width="100%">
                                        <div style="text-align:center"><span
                                                style="color:rgb(51,51,51);font-family:AppleSDGothic,&quot;apple sd gothic neo&quot;,&quot;noto sans korean&quot;,&quot;noto sans korean regular&quot;,&quot;noto sans cjk kr&quot;,&quot;noto sans cjk&quot;,&quot;nanum gothic&quot;,&quot;malgun gothic&quot;,dotum,arial,helvetica,MS Gothic,sans-serif;font-style:normal"><a
                                                th:href="@{http://ec2-3-36-133-133.ap-northeast-2.compute.amazonaws.com:8080/api/auth/newPwChange/{code}(code = ${code})}"
                                                style="display:inline-block;padding:14px 20px 11px;text-decoration:none;background-color:#fb7800;color:#ffffff;text-align:center;font-size:16px;border-radius:3px;border:0"
                                                target="_blank">비밀번호 재설정</a></span></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0"
                       style="overflow:hidden;margin:0px auto;padding:0px;width:100%;max-width:630px;clear:both;background:#eae7de;border:0"
                       width="100%">
                    <tbody>
                    <tr>
                        <td style="padding:15px 0 15px 0;border-width:0px">
                            <table class="m_-959506477112838652stb-cell-wrap" border="0" cellpadding="0" cellspacing="0"
                                   style="padding:0px 5px" width="100%">
                                <tbody>
                                <tr>
                                    <td class="m_-959506477112838652stb-text-box" width="100%"
                                        style="padding:0px 10px;line-height:1.8;word-break:break-word;font-size:12px;font-family:AppleSDGothic,apple sd gothic neo,noto sans korean,noto sans korean regular,noto sans cjk kr,noto sans cjk,nanum gothic,malgun gothic,dotum,arial,helvetica,MS Gothic,sans-serif!important;text-align:center;color:#606060">
                                        NEWNEEK<br><a href="mailto:whatsup@newneek.co" target="_blank">whatsup@newneek.co</a><br>서울특별시
                                        마포구 어울마당로 35 5층<b></b></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>